:root {
  --primary: #6293ff;
  --white: #fff;
  --border-radius: 1rem;
}

* {
  box-sizing: border-box;
  font-size: 62.5%;
}


p,
label,
input,
button {
  font-size: 1.6rem;
}

input,
button {
  padding: 1rem;
}