.root {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  align-items: center;
}

.label {
  width: 100%;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.range {
  width: 100%;
}