.menu {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.menu_hidden {
  display: none;
}

.container {
  width: 100%;
  background-color: #eee;
  padding: 1rem;
  border-radius: 1rem;
}

.label {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}